<div class="row">
<div style="margin-bottom:20px;" class="col m12">
<h4 class="title">New Tournament</h4>
</div>
<div class="col m4 form">
	<p>Tournament Name:</p> 
	{{input value=tournament}}
	  {{view "select"
	  	 prompt="Select Type"
         content=names
         value=type
         class="browser-default"
         }}
	<p>Names: (e.g Mike, Jay, Sam&Bill)</p> {{input value=myname}}
<button class="btn waves-effect waves-purple" {{action 'generateMap' }}>Play</button>
</div>
<div class="col m8" id="winner"></div>
<div class='col m12' id="tournament_container">
	<div id='errors'>
	{{errors}}
	</div>
<div id='test'>
</div>
</div>
</div>
<script>
$(document).on('click', 'div', function() {
	$(this).children('form').show();
	$(this).children('form').css('display', 'inline-block');
})

</script>
{{outlet}}
