<div class="row">
<h4 class="title">Singles</h4>
	{{errors}}
<div class="col m3 form">
	<p>Tournament Name:</p> 
	{{input value=tournament}}
	  {{view "select"
	  	 prompt="Select Type"
         content=names
         value=type
         class="browser-default"
         }}
	<p>Name:</p> {{input value=myname}}
<button class="btn waves-effect waves-light green" {{action 'generateMap' }}>Play</button>
</div>
<div class='col m12' id="tournament_container">
<div id='test'>
</div>
</div>
</div>

{{outlet}}
